{{!-- <main>
    <h1>Hello</h1>

//esto es para subir una imagen desde el ordenador. Trabaja con Multer
    <form action="/file" method="POST" enctype="multipart/form-data">
        <input type="file" name="myFile">
        <button type="submit">Enviar</button>
    </form>
</main> --}}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Productos en Venta</h1>
  <div>
    {{#each products}}
      <div>
        <h2>{{this.name}}</h2>
        <p>{{this.description}}</p>
        <p>{{this.price}}</p>
        <p>{{this.category}}</p>
      </div>
    {{/each}}
  </div>
</body>
</html>